*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

/* the common items */
form div {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

form input[type='text'], form input[type='password'] {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 8px;
    outline: none;
}

form textarea {
    outline: none;
    padding: 5px 8px;
    border-radius: 5px;
}

form label {
    padding: 0.5px 1px;
}

form input[type='submit'] {
    background-color: rgb(24, 197, 24);
    padding: 10px;
    border-color: inherit;
    border-radius: 5px;
    width: 50%;
    margin: auto;
}

form input[type='submit']:hover {
    background-color: rgb(58, 237, 58);
}

.form-div {
    width: 80%;
    margin: auto;
}

/* header */
header {
    display: flex;
    align-items: center;
    align-content: space-around;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color: gray;
    z-index: 100;
}

header > div {
    flex-grow: 1;
}

header a {
    text-decoration: none;
    color: ghostwhite;
}

header a:hover {
    text-decoration: underline;
    color: rgb(23, 23, 153);
}

header .nav-items {
    display: flex;
    align-items: center;
    align-content: space-evenly;
}

header .nav-items a {
    flex-grow: 1;
}

header .nav-logout button {
    right: 0;
    border: none;
    color: rgb(146, 28, 28);
    background: none;
}

header .nav-logout button:hover {
    text-decoration: underline;
    color: rgb(194, 38, 38);
}

/* main */
main {
    position: relative;
    top: 50px;
}

/* login page and signup /accounts/login/  /signup/ */

.reg-form {
    height: 100vh;
    padding: 10px;
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
}

.signin {
    width: 600px;
}

.login-div > div, .reg-form > div {
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1.2rem;
    margin: 1.2rem 0;
}

.reg-form .btns {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

.reg-form .btns button {
    width: 100%;
    margin: 5px;
    text-decoration: none;
    background-color: rgb(19, 179, 19);
    padding: 5px 8px;
    border: none;
    border-radius: 3px;
    text-transform: capitalize;
    animation: all 100ms ease;
    -moz-animation: all 100ms ease;
    -webkit-animation: all 100ms ease;
}

.reg-form .btns button:hover {
    transform: scale(1.04);
    -moz-transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    background-color: rgb(15, 226, 15);
}

.reg-form .btns a {
    text-decoration: none;
    color: black;
}

/* signup page /signup/ */
.helptext {
    display: none;
}

/* this will be the notes page /notes/ */
.card-list-div {
    width: 80%;
    margin: auto;
}

.card-wrapper {
    margin: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid black;
}

/* .card-wrapper:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
} */

.card-wrapper .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0.2rem 1.1rem;
}

.card-wrapper .head a {
    text-decoration: none;
    color: blue;
    text-transform: capitalize;
    margin: 0 1.01rem 0 0;
}

.card-wrapper a:hover {
    text-decoration: underline !important;
}

.card-wrapper .head p {
    color: gray;
}

.card-wrapper .body {
    padding: 0.5rem 1.1rem;
    border-bottom: 1px solid black;
}

.card-wrapper .body a {
    color: blue;
    text-decoration: none;
}

.card-wrapper .links {
    padding: 0.1rem 2rem;
    text-align: center;
}

.card-wrapper .links a {
    color: blue;
    text-decoration: none;
    margin: 0 1.2rem;
}

.card-wrapper .links a.edit:hover {
    color: green;
}

.card-wrapper .links a.delete:hover {
    color: red;
}

/* update page /notes/<int:pk>/update */





