{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'note_view' %}">Notes</a>
        <a href="{% url 'note_new' %}">Add</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/function.js' %}"></script>
</body>
</html>
