{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div>
            <h1>
                <a href="{% url 'note_view' %}">Hello {{user}}!</a>
            </h1>
        </div>
        <div class="nav-items">
            <a href="{% url 'note_view' %}">Notes</a>
            <a href="{% url 'note_new' %}">+ Add</a>
            <a href="{% url 'about' %}">About</a>
            <a href="">Contacts</a>
        </div>
        <div class="nav-logout">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer></footer>
    <script src="{% static 'js/function.js' %}"></script>
</body>
</html>
